g {visibility:hidden;}
body{background:#b05089; margin:0 auto; position:relative;}


.lion{text-align:center; z-index:4; width:700px; height:550px; position:absolute; left:50%; top:50%; margin-top:280px;}